[submodule "QSimpleXlsxWriter"]
	path = QSimpleXlsxWriter
	url = https://github.com/zadockmaloba/QSimpleXlsxWriter
[submodule "thirdparty/src/cpython"]
	path = thirdparty/src/cpython
	url = https://github.com/zadockmaloba/cpython
